/* Fonts and color*/
body {
  background-color: rgb(230, 230, 230);
  color: #2e2e2e;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

h1 {
  font-family: 'Open+Sans:600', sans-serif;
  font-size: 50px;
}

h2 {
  font-size: 20px;
  font-family: 'Open+Sans:600', sans-serif;
}

a {
  text-decoration: none;
  color: white;

}

a:hover {
  color: #d9d9d9;
}

nav {
  background-color: rgba(255, 255, 255, 0.1);
}

/*Custom designs (Class and IDs)*/

.navbar {

}

.navbar-fixed-top.scrolled {
  background-color: rgba(255, 255, 255, 0.1) !important;
  transition: background-color 200ms linear;
}

.navbar-brand {
  padding-left: 70px;
  padding-bottom: 0;
  padding-top: 0;
}

#banner_home {
  background-image: url(https://via.placeholder.com/300x90.png);
  height: 300px;
  width: auto;
  padding: 280 0 280 0;
  margin: 0;
}

#banner {
  background:
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("images/medico.jpg");
  background-size: cover;
  margin: 0;
  padding: 280 0 280 0;
  text-align: center;
}

#banner h1 {
  color: white;
}

#banner p {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.9;
}

@media screen and (max-width:480px) {
  #banner {
    background-image: none;
  }

  #banner h1 {
    color: grey;
  }

  #banner p {
    color: grey;
  }
}

.row {
  padding: 30px;
}

.card {
  padding: 50px;
  text-align: center;
  height: 410px;
  background-color: rgb(240, 240, 240);
  border-style: none;

}

.card h2 {
  font-weight: bold;
}

.icon {
  width: fit-content;
  align-self: center;
  padding: 20px;
}

#footer {
  background-color: rgb(230, 230, 230);
  padding: 10px;
  font-size: 15px;
  text-align: center;
  margin: 0;
}

#footer a {
  font-size: 20px;
  color: #2e2e2e;
}

#footer a:hover {
  color: white;
}
